{% extends 'base.html' %}
{% load static %}

{% block body%}
<!-- ***** Menu Area Starts ***** -->
<br><br><br><br><br><br>

<section class="section" id="cart">
    <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->

        <div class="row">
          <aside class="col-lg-9">
            <div class="card" style="display: flex; justify-content: center; align-items: center;">
              {% if cart_items %}
              <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                  <tr class="small text-uppercase">
                    <th scope="col" colspan="2" width="50%">Product</th>
                    <th scope="col" width="15%">Quantity</th>
                    <th scope="col" width="15%">Price</th>
                    <th scope="col" class="text-right" width="20%"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in cart_items %}
                  <tr>
                    <td width="10%" style="height:100px; width: 100px;">
                      <div class="tab-item">
                        <img src="{{i.food_item.food_image.url}}" alt="Image" class="img-sm">
                      </div>
                      </td>
                      <td width="40%">
                        <div class="tab-item">
                        <h6>{{i.food_item.food_name}}</h6>
                        <p class="text-muted small">{{i.food_item.food_description|slice:"0:20"}}</p>
                    </div>
                    </td>
                    <td width="15%" style=" width: auto; padding: 0;">
                      <!-- col.// -->
                      <div class="" >
                        <div class="input-group input-spinner" >
                          <div class="input-group-prepend">
                            <form method="post" action="{% url 'add_to_cart' i.food_item.pk %}">
                              {% csrf_token %}
                              <button class="btn btn-light" type="submit" id="button-plus">
                                <i class="fa fa-plus"></i>
                              </button>
                            </form>                            
                          </div>
                          <input type="text" class="form-control" value="{{i.quantity}}" />
                          <div class="input-group-append">
                            <form method="post" action="{% url 'decrease_cart' food_id=i.food_item.pk %}">
                              {% csrf_token %}
                            <button class="btn btn-light" type="submit" id="button-minus">
                              <i class="fa fa-minus"></i>
                            </button>
                            </form>
                          </div>
                        </div>
                        <!-- input-group.// -->
                      </div>
                      <!-- col.// -->
                    </td>
                    <td>
                      <div class="price-wrap">
                        <var class="price">Tk.{{i.sub_total}}</var>
                        <p>Tk.<small class="text-muted"> {{i.food_item.food_price}} each </small></p>
                      </div>
                      <!-- price-wrap .// -->
                    </td>
                    <td class="text-right">
                      <form method="post" >
                        {% csrf_token %}
                      <a href="{% url 'remove_from_cart' food_id=i.food_item.pk %}" class="btn btn-danger">Remove</a>
                      </form>
                    </td>
                  </tr>
                  
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <h4>No Item in the Cart</h4>
              {% endif %}
            </div>
            <!-- card.// -->
          </aside>
          <!-- col.// -->
          <aside class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <table>
                  <tr style="padding-top: 20px;">
                    <td>Total price:</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="text-right">Tk.{{total}}</td>
                  </tr>
                  <tr style="padding-top: 20px;">
                    <td>Tax:</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="text-right">Tk.{{tax}}</td>
                  </tr>
                  <hr />
                  <tr style="padding-top: 20px;">
                    <td><strong>Grand Total:</strong></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="text-right"><strong>Tk.{{grand_total}}</strong></td>
                  </tr>
                </table>
                <!--<dl class="dlist-align" style="display: inline;">
                  <dt>Total price:</dt>
                  <dd class="text-right">Tk.{{total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right">Tk.{{tax}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="text-right text-dark b">
                    <strong>Tk.{{grand_total}}</strong>
                  </dd>
                </dl>-->
                <hr />
                <p class="text-center mb-3">
                  <img src="{% static 'images/misc/payments.png' %}" height="26">
                </p>
                <a href="{% url 'checkout' %}" class="btn btn-primary btn-block">
                  Checkout
                </a>
                <a href="{% url 'menu' %}" class="btn btn-light btn-block"
                  >Continue Shopping</a
                >
              </div>
              <!-- card-body.// -->
            </div>
            <!-- card.// -->
          </aside>
          <!-- col.// -->
        </div>
        <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->
      </div>
</section>
<!-- ***** Menu Area Ends ***** --> 
{% endblock%}