{% extends 'base.html' %}
{% load static %}

{% block body%}
<!-- ***** Menu Area Starts ***** -->
<br><br><br><br><br><br>

<section class="section" id="cart">
  <form action="" method="POST" >
    {% csrf_token %}
    <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->

        <div class="row">
          
          <aside class="col-lg-9" style="padding-bottom: 20px;">
            <div class="card" style="display: flex; justify-content: center; align-items: center;">
              <div class="card-body" >
              <h4 class="card-title mb-4" style="text-align: center;">Review Cart</h4>
              
            </hr>
              {% if cart_items %}
              <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                  <tr class="small text-uppercase">
                    <th scope="col" colspan="2" width="60%">Product</th>
                    <th scope="col" width="20%" style="text-align: left;">Quantity</th>
                    <th scope="col" width="20%">Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in cart_items %}
                  <tr>
                    <td width="10%" style="height:100px; width: 100px;">
                      <div class="tab-item">
                        <img src="{{i.food_item.food_image.url}}" alt="Image" class="img-sm">
                      </div>
                      </td>
                      <td width="40%">
                        <div class="tab-item">
                        <h6>{{i.food_item.food_name}}</h6>
                        <p class="text-muted small">{{i.food_item.food_description|slice:"0:20"}}</p>
                    </div>
                    </td>
                    <td width="15%" style=" width: auto; padding: 0;">
                      <!-- col.// -->
                      <div class="" >
                        <div class="input-group input-spinner" >                          
                          {{i.quantity}}                          
                        </div>
                        <!-- input-group.// -->
                      </div>
                      <!-- col.// -->
                    </td>
                    <td>
                      <div class="price-wrap">
                        <var class="price">Tk.{{i.sub_total}}</var>
                        <p>Tk.<small class="text-muted"> {{i.food_item.food_price}} each </small></p>
                      </div>
                      <!-- price-wrap .// -->
                    </td>
                    
                  </tr>
                  
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <h4>No Item in the Cart</h4>
              {% endif %}
            </div>
          </div>
            <!-- card.// -->
          </aside>
          <!-- col.// -->
          <aside class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <h6>Payment</h6>
              </hr>
                <table>
                  <tr style="padding-top: 20px;">
                    <td>Total price:</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="text-right">Tk.{{total}}</td>
                  </tr>
                  <tr style="padding-top: 20px;">
                    <td>Tax:</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="text-right">Tk.{{tax}}</td>
                  </tr>
                  <hr />
                  <tr style="padding-top: 20px;">
                    <td><strong>Grand Total:</strong></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="text-right"><strong>Tk.{{grand_total}}</strong></td>
                  </tr>
                </table>
                <!--<dl class="dlist-align" style="display: inline;">
                  <dt>Total price:</dt>
                  <dd class="text-right">Tk.{{total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right">Tk.{{tax}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="text-right text-dark b">
                    <strong>Tk.{{grand_total}}</strong>
                  </dd>
                </dl>-->
                <hr />
                <p class="text-center mb-3">
                  <img src="{% static 'images/misc/payments.png' %}" height="26">
                </p>
                <!--<a href="{% url 'place_order' %}" class="btn btn-primary btn-block">
                  Make Payment
                </a>-->
                <button type=submit class="btn btn-primary btn-block">
                  Make Payment
                </button>
                
              </div>
              <!-- card-body.// -->
            </div>
            <!-- card.// -->
          </aside>
          <!-- col.// -->
          <br><br>
          <aside class="col-lg-9">
            <div class="card">
              <div class="card-body" style="text-align: center;">
                <h4 class="card-title mb-4">Billing Address</h4>
              </hr>
                
                  <div class="form-row">
                    <div class="col form-group">
                      <label for="">First Name</label>
                      <input type="text" name="first_name" class="form-control" required>
                    </div>
                    <div class="col form-group">
                      <label for="">Last Name</label>
                      <input type="text" name="last_name" class="form-control" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col form-group">
                      <label for="">Email</label>
                      <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="col form-group">
                      <label for="">Phone Number</label>
                      <input type="text" name="phone" class="form-control" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col form-group">
                      <label for="">Address Line 1</label>
                      <input type="text" name="address_line_1" class="form-control" required>
                    </div>
                    <div class="col form-group">
                      <label for="">Address Line 2</label>
                      <input type="text" name="address_line_2" class="form-control">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col form-group">
                      <label for="">City</label>
                      <input type="text" name="city" class="form-control" required>
                    </div>
                    <div class="col form-group">
                      <label for="">State</label>
                      <input type="text" name="state" class="form-control" required>
                    </div>
                    <div class="col form-group">
                      <label for="">Country</label>
                      <input type="text" name="country" class="form-control" required>
                    </div>
                    </div>
                    <div class="form-row">
                      <label for="">Order Note</label>
                      <textarea name="order_note" rows="2" class="form-control"></textarea>
                    </div>
            
            
              
                  </div>
                  <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                 
            </div>
          </aside>
        
        </div>
        <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->
    </div>
  </form> 
</section>
<!-- ***** Menu Area Ends ***** --> 
{% endblock%}