{% extends "base.html" %}


{% block body %}
<section class="section-conten padding-y bg">
<br><br><br><br><br><br>
<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="{% url 'order_history' %}"> My order history </a>
			<a class="btn btn-light btn-block" href="{% url 'signout' %}"> <i class="fa fa-power-off"></i> <span class="text">Sign out</span> </a>
			
		</ul>
		
	</aside>
	<main class="col-md-9">
		<article class="card">
		<div style="margin-left: 15px;margin-top: 15px; text-align: center;">
			<strong class="d-inline-block mr-3">Change Password</strong>
			<span style="text-align: right;"></span>
			<hr>
		</div>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-8">
					<form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Change Password</button>
                    </form>
				</div>
				
			</div> <!-- row.// {% url 'order_details -->
			<br>
			<!--<div class="row">
				<a href="{% url 'change_password' %}" class="btn btn-outline-primary" style="margin-left:15px;">Change Password</a> 
				&nbsp; &nbsp; &nbsp; &nbsp;
				<a href="#" class="btn btn-light"> Details </a>
			</div>-->
		</div> <!-- card-body .// -->
		
		</article> <!-- order-group.// --> 
		
	</main>
	
</div> <!-- row.// -->
</div>


</section>
{% endblock%}