{% extends "base.html" %}


{% block body %}
<section class="section-conten padding-y bg">
<br><br><br><br><br><br>
<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="{% url 'profile' %}"> My Profile </a>
			<a class="list-group-item active" href="{% url 'order_history' %}"> My order history </a>
			<a class="btn btn-light btn-block" href="{% url 'signout' %}"> <i class="fa fa-power-off"></i> <span class="text">Sign out</span> </a>
			
		</ul>
		
	</aside>
	<main class="col-md-9">
		{% if orders %}
		{% for i in orders %}
		<article class="card">
		<div style="margin-left: 15px;margin-top: 15px; text-align: center;">
			<strong class="d-inline-block mr-3">My Profile</strong>
			<span style="text-align: right;"></span>
			<hr>
		</div>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-8">
					<h6 class="text-muted">Name: {{request.user.first_name}} {{request.user.last_name}}</h6>
					<hr>
					<p>Username: {{request.user.username}}<br>
                    Contact: {{request.user.phone_number}}<br>  
					Email: {{request.user.email}} <br>
                    Joined at: {{request.user.date_joined}}<br>
                    Last Login: {{request.user.last_login}}
				</p>
				</div>
				
			</div> <!-- row.// {% url 'order_details -->
			<br>
			<div class="row">
				<a href="{% url 'change_password' %}" class="btn btn-outline-primary" style="margin-left:15px;">Change Password</a> 
				&nbsp; &nbsp; &nbsp; &nbsp;
				<a href="#" class="btn btn-light"> Details </a>
			</div>
		</div> <!-- card-body .// -->
		
		</article> <!-- order-group.// --> 
		<br><br>
		{% endfor %}
		{% else %}
			<h6>No Orders Made Yet!</h6>
		{% endif %}
	</main>
	<!--<main class="col-md-9">
		<article class="card">
		<header class="card-header" style="text-align: center;">
			<strong class="d-inline-block mr-3" >Order History</strong>
			<span></span>
		</header>
		
		<div class="table-responsive">
		<table class="table table-hover">
            {% if orders %}
            {% for x in orders %}
            
            <tr>
				<td>
					<img src="{{x.food.food_image.url}}" class="img-xs border">
				</td>
				<td> 
					<p class="title mb-0 text-dark" style="padding-left: 0px;">{{x.food.food_name}}</p>
					<var class="price text-muted">Tk. {{x.food_price}}</var>
				</td>
				<td> ID: <br> {{x.order.order_number}} </td>
				<td> Date: <br> {{x.created_at}} </td>
				<td> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light"> Details </a> </td>
			</tr>
            {% endfor %}
            {% else %}
            <h6>No Items!</h6>
            {% endif %}
			
			
		</table>
		</div> 
		</article> -->

</div> <!-- row.// -->
</div>


</section>
{% endblock%}