{% extends 'base.html' %}
{% load static %}

{% block body%}
<!-- ***** Main Banner Area Start ***** -->
<div id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-content">
                    <div class="inner-content">
                        <h4>Upohansh</h4>
                        <h6>THE BEST IN CITY</h6>
                        <div class="main-white-button scroll-to-section">
                            <a href="{% url 'menu' %}">Make An Order</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="main-banner header-text">
                    <div class="Modern-Slider">
                      <!-- Item -->
                      <div class="item">
                        <div class="img-fill">
                            <img src="{% static 'images/slide-01.jpg' %}" alt="">
                        </div>
                      </div>
                      <!-- // Item -->
                      <!-- Item -->
                      <div class="item">
                        <div class="img-fill">
                            <img src="{% static 'images/slide-02.jpg' %}" alt="">
                        </div>
                      </div>
                      <!-- // Item -->
                      <!-- Item -->
                      <div class="item">
                        <div class="img-fill">
                            <img src="{% static 'images/slide-03.jpg' %}" alt="">
                        </div>
                      </div>
                      <!-- // Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Menu Area Starts ***** -->
<section class="section" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-heading">
                    <h6>Our Menu</h6>
                    <h2>Our selection of cakes with quality taste</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-item-carousel">
        <div class="col-lg-12">
            <div class="owl-menu-item owl-carousel">
                {% for item in food %}
                <div class="item">
                    <div class='card' style="background-image: url('{{item.food_image.url}}');">
                        <div class="price"><h6>Tk.{{item.food_price}}</h6></div>
                        <div class='info'>
                            <h6 class='title'>{{item.food_name}}</h6>
                            <p class='description'>{{item.food_description|slice:"0:25"}}</p>
                            <br>
                            <form action="post" style="background-color: #ffffff; width: 100%; display: flex; flex-direction: column;  ">
                                {% csrf_token %}
                                <a href="{% url 'add_to_cart' food_id=item.pk %}">
                                    <div class="main-text-button" style="margin-left: 0px;">
                                        <div class="text-dark font-weight-bold" style="line-height: 100%; padding-top: -10px; text-align: center;">Add to Cart</div>
                                    </div>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}                
            </div>
        </div>
    </div>
</section>
<!-- ***** Menu Area Ends ***** -->
<!-- ***** Offers Area Starts ***** -->
<section class="section" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="section-heading">
                    <h6>Specials of Week</h6>
                    <h2>This Week’s Special Meal Offers</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-item-carousel">
        <div class="col-lg-12">
            <div class="owl-menu-item owl-carousel">
                {% if discounts %}
                {% for item in discounts %}
                <div class="item">
                    <div class='card' style="background-image: url('{{item.food_image.url}}');">
                        <!--<div class="price">
                            {% if item.discount_price %}
                            <h6 class="text-white">{{item.discount_price}}</h6>
                            <h6 class="text-white"><strike>{{item.food_price}}</strike></h6>
                            {% else %}        
                            <h6>{{item.food_price}}</h6>
                            {% endif %} 
                            </div>-->
                        <div class="price text-white" style = "
                            width: 70px;
                            height: auto;
                            background-color: #fb5849;
                            border-radius: 3px;
                            text-align: center;">
                            <p class="text-white"><strong>Tk.</strong>
                            {% if item.discount_price %}
                            <h4><strong>{{item.discount_price}}</strong></h4>
                            <h5><strike class="text-white">{{item.food_price}}</strike></h5>
                            {% else %}        
                            <h6>{{item.food_price}}</h6>
                            {% endif %} 
                            </p>                           
                        </div>
                        <div class='info'>
                            <h6 class='title'>{{item.food_name}}</h6>
                            <!--<p class='description'>{{item.food_description|slice:"0:25"}}</p>
                            <br>
                            -->
                            
                            <form action="post" style="background-color: #ffffff; width: 100%; display: flex; flex-direction: column;  ">
                                {% csrf_token %}
                                <a href="{% url 'add_to_cart' food_id=item.pk %}">
                                    <div class="main-text-button" style="margin-left: 0px;">
                                        <div class="text-dark font-weight-bold" style="line-height: 100%; padding-top: -10px; text-align: center;">Add to Cart</div>
                                    </div>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>                   
                
                {% endfor %}
            </div>            
        </div>
    </div>
    {% else %}
    <h4>Sorry! No Specials This Week.</h4>
    {% endif %}
</section>
<!-- ***** Offers Area Ends ***** --> 
<!-- ***** About Area Starts ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>About Us</h6>
                        <h2>We Leave A Delicious Memory For You</h2>
                    </div>
                    <p>Klassy Cafe is one of the best <a href="https://templatemo.com/tag/restaurant" target="_blank" rel="sponsored">restaurant HTML templates</a> with Bootstrap v4.5.2 CSS framework. You can download and feel free to use this website template layout for your restaurant business. You are allowed to use this template for commercial purposes. <br><br>You are NOT allowed to redistribute the template ZIP file on any template donwnload website. Please contact us for more information.</p>
                    <div class="row">
                        <div class="col-4">
                            <img src="{% static 'images/about-thumb-01.jpg' %} " alt="">
                        </div>
                        <div class="col-4">
                            <img src="{% static 'images/about-thumb-02.jpg' %}" alt="">
                        </div>
                        <div class="col-4">
                            <img src="{% static 'images/about-thumb-03.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb">
                        <a rel="nofollow" href="http://youtube.com"><i class="fa fa-play"></i></a>
                        <img src="{% static 'images/about-video-bg.jpg' %} " alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}